@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>ResetPassword</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/Registration/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Registration/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Registration/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Registration/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Registration/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Registration/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Registration/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Registration/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Registration/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Registration/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/Registration/css/main.css">
	<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('/Registration/images/bg-01.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-20 p-b-20">
                    <div class="msg">
                     
                    </div>
                    <div class="row m-t-20 m-b--5 align-center">
                        <a asp-action="Login" asp-controller="Account">Sign In!</a>
                    </div>
				<form class="login100-form validate-form" asp-action="ConfirmResetPassword">
					<span class="login100-form-title p-b-25">
						Confirm Reset Password
					</span>
					
					<div class="m-t-25 m-b-25">
						password has been reset successfully please sign in
					</div>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<a class=" login100-form-btn" asp-action="Login" asp-controller="Account">Login</a>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="~/Registration/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Registration/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Registration/vendor/bootstrap/js/popper.js"></script>
	<script src="~/Registration/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Registration/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Registration/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/Registration/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="~/Registration/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="~/Registration/js/main.js"></script>

	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

</body>
</html>